<h1>This is a contacts page</h1>

<% @contacts.each do |contact|%>

  <ul class="list-group">
    <li class="list-group-item list-group-item-success"><%= link_to contact.full_name, "/contacts/#{contact.id}" %></li>
    <li class="list-group-item list-group-item-info"><%= contact.email %></li>
    <li class="list-group-item list-group-item-warning"><%= contact.phone_number %></li>
    <li class="list-group-item list-group-item-info">Bio: <%= contact.bio %></li>
    <li class="list-group-item list-group-item-danger">Created at: <%= contact.pretty_time %></li>
  </ul>

<% end %>
<!-- ruby runs but doesn't display anything on  the website with these tags -->